# Hospital Facilities Insight 

Data obtained from Community Benefits Insight: http://www.communitybenefitinsight.org/api/get_hospitals.php

## Import Libaries

In [1]:
# import appropriate packages
import requests
import json 
import pandas as pd
from datetime import datetime
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings("ignore") #supress warnings

## Import Data

In [2]:
# API 
api_url = 'http://www.communitybenefitinsight.org/api/get_hospitals.php'

# request for api 
response = requests.get(api_url)

# check status
if response.status_code == 200:
    data = response.json()
    
    # data update check 
    last_modified_header = response.headers.get('Last-Modified')
    
    if last_modified_header:
        last_modified = datetime.strptime(last_modified_header, '%a, %d %b %Y %H:%M:%S GMT')
        print(f"Data was last modified: {last_modified}")

    # convert data to df 
    hospital_df = pd.DataFrame(data)
    
    print(hospital_df)
else:
    print(f"Failed to fetch data. Status code: {response.status_code}")
    print(response.text)

     hospital_id hospital_org_id        ein  \
0              1               1  630307951
1              2               2  630578923
2              3               3  630312913
3              4               4  630459034
4              5               5  581973570
...          ...             ...        ...
3486        3487            2647  813040663
3487        3488            2304  741109643
3488        3489            2648  831954982
3489        3490            2302  750800661
3490        3491            2649  831869297

                                     name  \
0                Mizell Memorial Hospital
1                        St Vincents East
2           Shelby Baptist Medical Center
3            Callahan Eye Foundation Hosp
4                 Cherokee Medical Center
...                                   ...
3486          Bsw Medical Center - Austin
3487              Ascension Seton Bastrop
3488         Texas Health Hospital Frisco
3489  Methodist Midlothian Medical Center
3490      Texas Health Hospital Mansfield

                                  name_cr              street_address  \
0                Mizell Memorial Hospital             702 Main Street
1                        St Vincents East  50 Medical Park Drive East
2           Shelby Baptist Medical Center     1000 First Street North
3            Callahan Eye Foundation Hosp   1720 University Boulevard
4                 Cherokee Medical Center         400 Northwood Drive
...                                   ...                         ...
3486          Bsw Medical Center - Austin               5245 W Us 290
3487              Ascension Seton Bastrop            630 Highway 71 W
3488         Texas Health Hospital Frisco      12400 N Dallas Parkway
3489  Methodist Midlothian Medical Center          1201 E Highway 287
3490      Texas Health Hospital Mansfield         2300 Lone Star Road

            city state zip_code fips_state_and_county_code hospital_bed_count  \
0            Opp    AL    36462                      01039                 99
1     Birmingham    AL    35235                      01073                362
2      Alabaster    AL    35007                      01117                252
3     Birmingham    AL    35233                      01073                106
4         Centre    AL    35960                      01019                 60
...          ...   ...      ...                        ...                ...
3486      Austin    TX    78735                      48453                 16
3487     Bastrop    TX    78602                      48021                  7
3488      Frisco    TX    75033                      48121                 63
3489  Midlothian    TX    76065                      48139                 46
3490   Mansfield    TX    76063                      48439                 59

     chrch_affl_f urban_location_f children_hospital_f  \
0               N                N                   N
1               N                Y                   N
2               N                Y                   N
3               N                Y                   N
4               N                N                   N
...           ...              ...                 ...
3486            N                Y                   N
3487            N                Y                   N
3488            N                Y                   N
3489            N                Y                   N
3490            N                Y                   N

     memb_counc_teach_hosps_f medicare_provider_number            county  \
0                           N                   010007  Covington County
1                           Y                   010011  Jefferson County
2                           N                   010016     Shelby County
3                           Y                   010018  Jefferson County
4                           N                   010022   Cherokee County
...                       ...                      ...               ...
3486                        N                   670136     Travis County
3487                        N                   670143    Bastrop County
3488                        N                   670260     Denton County
3489                        N                   670300      Ellis County
3490                        N                   670309    Tarrant County

     hospital_bed_size         updated_dt
0            <100 beds  November 20, 2023
1            >299 beds  November 20, 2023
2         100-299 beds  November 20, 2023
3         100-299 beds  November 20, 2023
4            <100 beds  November 20, 2023
...                ...                ...
3486         <100 beds  November 20, 2023
3487         <100 beds  November 20, 2023
3488         <100 beds  November 20, 2023
3489         <100 beds  November 20, 2023
3490         <100 beds  November 20, 2023

[3491 rows x 19 columns]

In [3]:
hospital_df # print df

,hospital_id,hospital_org_id,ein,name,name_cr,street_address,city,state,zip_code,fips_state_and_county_code,hospital_bed_count,chrch_affl_f,urban_location_f,children_hospital_f,memb_counc_teach_hosps_f,medicare_provider_number,county,hospital_bed_size,updated_dt
0,1,1,630307951,Mizell Memorial Hospital,Mizell Memorial Hospital,702 Main Street,Opp,AL,36462,01039,99,N,N,N,N,010007,Covington County,<100 beds,"November 20, 2023"
1,2,2,630578923,St Vincents East,St Vincents East,50 Medical Park Drive East,Birmingham,AL,35235,01073,362,N,Y,N,Y,010011,Jefferson County,>299 beds,"November 20, 2023"
2,3,3,630312913,Shelby Baptist Medical Center,Shelby Baptist Medical Center,1000 First Street North,Alabaster,AL,35007,01117,252,N,Y,N,N,010016,Shelby County,100-299 beds,"November 20, 2023"
3,4,4,630459034,Callahan Eye Foundation Hosp,Callahan Eye Foundation Hosp,1720 University Boulevard,Birmingham,AL,35233,01073,106,N,Y,N,Y,010018,Jefferson County,100-299 beds,"November 20, 2023"
4,5,5,581973570,Cherokee Medical Center,Cherokee Medical Center,400 Northwood Drive,Centre,AL,35960,01019,60,N,N,N,N,010022,Cherokee County,<100 beds,"November 20, 2023"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3486,3487,2647,813040663,Bsw Medical Center - Austin,Bsw Medical Center - Austin,5245 W Us 290,Austin,TX,78735,48453,16,N,Y,N,N,670136,Travis County,<100 beds,"November 20, 2023"
3487,3488,2304,741109643,Ascension Seton Bastrop,Ascension Seton Bastrop,630 Highway 71 W,Bastrop,TX,78602,48021,7,N,Y,N,N,670143,Bastrop County,<100 beds,"November 20, 2023"
3488,3489,2648,831954982,Texas Health Hospital Frisco,Texas Health Hospital Frisco,12400 N Dallas Parkway,Frisco,TX,75033,48121,63,N,Y,N,N,670260,Denton County,<100 beds,"November 20, 2023"
3489,3490,2302,750800661,Methodist Midlothian Medical Center,Methodist Midlothian Medical Center,1201 E Highway 287,Midlothian,TX,76065,48139,46,N,Y,N,N,670300,Ellis County,<100 beds,"November 20, 2023"
3490,3491,2649,831869297,Texas Health Hospital Mansfield,Texas Health Hospital Mansfield,2300 Lone Star Road,Mansfield,TX,76063,48439,59,N,Y,N,N,670309,Tarrant County,<100 beds,"November 20, 2023"

In [4]:
# print 10 random samples from the dataframe 
hospital_df.sample(10)

,hospital_id,hospital_org_id,ein,name,name_cr,street_address,city,state,zip_code,fips_state_and_county_code,hospital_bed_count,chrch_affl_f,urban_location_f,children_hospital_f,memb_counc_teach_hosps_f,medicare_provider_number,county,hospital_bed_size,updated_dt
2063,2064,1627,150622506,Upstate Univ Hosp At Comm General,Upstate Univ Hosp At Comm General,4900 Broad Road,Syracuse,NY,13215,36067,306,N,Y,N,Y,330159,Onondaga County,>299 beds,"November 20, 2023"
3297,3298,2517,311097818,Preston Memorial Hospital,Preston Memorial Hospital,150 Memorial Drive,Kingwood,WV,26537,54077,25,N,Y,N,N,511312,Preston County,<100 beds,"November 20, 2023"
2121,2122,1681,141338465,Nathan Littauer Hospital & Nursing H,Nathan Littauer Hospital & Nursing H,99 East State Street,Gloversville,NY,12078,36035,74,N,N,N,N,330276,Fulton County,<100 beds,"November 20, 2023"
1075,1076,809,742849611,Anderson County Hospital,Anderson County Hospital,421 South Maple,Garnett,KS,66032,20003,25,N,N,N,N,171316,Anderson County,<100 beds,"November 20, 2023"
1101,1102,834,520795508,Whitesburg Arh,Whitesburg Arh,240 Hospital Road,Whitesburg,KY,41858,21133,90,N,N,N,N,180002,Letcher County,<100 beds,"November 20, 2023"
812,813,591,362414944,Riverside Medical Center,Riverside Medical Center,350 North Wall Street,Kankakee,IL,60901,17091,341,N,Y,N,Y,140186,Kankakee County,>299 beds,"November 20, 2023"
1170,1171,889,610847215,Wayne County Hospital,Wayne County Hospital,166 Hospital Street,Monticello,KY,42633,21231,25,N,N,N,N,181321,Wayne County,<100 beds,"November 20, 2023"
3228,3229,2472,910565546,Harrison Medical Center,Harrison Medical Center,2520 Cherry Avenue,Bremerton,WA,98310,53035,297,N,Y,N,N,500039,Kitsap County,100-299 beds,"November 20, 2023"
1183,1184,897,251925187,University Medical Ctr At New Orlea,University Medical Ctr At New Orlea,2000 Canal Street,New Orleans,LA,70112,22071,446,N,Y,N,Y,190005,Orleans Parish,>299 beds,"November 20, 2023"
3327,3328,2544,390884478,Bellin Memorial Hospital,Bellin Memorial Hospital,744 S Webster Avenue,Green Bay,WI,54305,55009,242,N,Y,N,N,520049,Brown County,100-299 beds,"November 20, 2023"

## Data Inspection

In [5]:
hospital_df.shape

(3491, 19)

In [4]:
hospital_df.info() #all variables in df are labeled as object variables

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3491 entries, 0 to 3490
Data columns (total 19 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   hospital_id                 3491 non-null   object
 1   hospital_org_id             3491 non-null   object
 2   ein                         3491 non-null   object
 3   name                        3491 non-null   object
 4   name_cr                     3491 non-null   object
 5   street_address              3491 non-null   object
 6   city                        3491 non-null   object
 7   state                       3491 non-null   object
 8   zip_code                    3491 non-null   object
 9   fips_state_and_county_code  3491 non-null   object
 10  hospital_bed_count          3491 non-null   object
 11  chrch_affl_f                3491 non-null   object
 12  urban_location_f            3491 non-null   object
 13  children_hospital_f         3491 non-null   object
 14  memb_counc_teach_hosps_f    3491 non-null   object
 15  medicare_provider_number    3491 non-null   object
 16  county                      3490 non-null   object
 17  hospital_bed_size           3491 non-null   object
 18  updated_dt                  3491 non-null   object
dtypes: object(19)
memory usage: 518.3+ KB

In [7]:
columns_to_convert = ['hospital_bed_count', 'medicare_provider_number']
binary_columns = ['chrch_affl_f', 'urban_location_f', 'children_hospital_f', 'memb_counc_teach_hosps_f']

# iterate through the list of columns
for col in columns_to_convert:
    # convert to numeric, coerce errors to NaN
    hospital_df[col] = pd.to_numeric(hospital_df[col], errors='coerce')
    
for col in binary_columns:
    # Map 'N' to 0 and 'Y' to 1
    hospital_df[col] = hospital_df[col].map({'N': 0, 'Y': 1})

# check the data types after conversion
hospital_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3491 entries, 0 to 3490
Data columns (total 19 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   hospital_id                 3491 non-null   object
 1   hospital_org_id             3491 non-null   object
 2   ein                         3491 non-null   object
 3   name                        3491 non-null   object
 4   name_cr                     3491 non-null   object
 5   street_address              3491 non-null   object
 6   city                        3491 non-null   object
 7   state                       3491 non-null   object
 8   zip_code                    3491 non-null   object
 9   fips_state_and_county_code  3491 non-null   object
 10  hospital_bed_count          3491 non-null   int64
 11  chrch_affl_f                3491 non-null   int64
 12  urban_location_f            3491 non-null   int64
 13  children_hospital_f         3491 non-null   int64
 14  memb_counc_teach_hosps_f    3491 non-null   int64
 15  medicare_provider_number    3491 non-null   int64
 16  county                      3490 non-null   object
 17  hospital_bed_size           3491 non-null   object
 18  updated_dt                  3491 non-null   object
dtypes: int64(6), object(13)
memory usage: 518.3+ KB

In [5]:
hospital_df.nunique() #unique variables

hospital_id                   3491
hospital_org_id               2377
ein                           2377
name                          3330
name_cr                       3072
street_address                3439
city                          2192
state                           51
zip_code                      3200
fips_state_and_county_code    1751
hospital_bed_count             696
chrch_affl_f                     2
urban_location_f                 2
children_hospital_f              2
memb_counc_teach_hosps_f         2
medicare_provider_number      3491
county                        1195
hospital_bed_size                3
updated_dt                       1
dtype: int64

In [6]:
hospital_df.isnull().sum() #null values

hospital_id                   0
hospital_org_id               0
ein                           0
name                          0
name_cr                       0
street_address                0
city                          0
state                         0
zip_code                      0
fips_state_and_county_code    0
hospital_bed_count            0
chrch_affl_f                  0
urban_location_f              0
children_hospital_f           0
memb_counc_teach_hosps_f      0
medicare_provider_number      0
county                        1
hospital_bed_size             0
updated_dt                    0
dtype: int64

In [7]:
duplicate_rows = hospital_df[hospital_df.duplicated()]

print("Duplicate Rows except first occurrence:")
print(duplicate_rows)

if hospital_df.duplicated().any():
    print("Duplicates exist in the DataFrame.")
else:
    print("No duplicates found in the DataFrame.")

Duplicate Rows except first occurrence:
Empty DataFrame
Columns: [hospital_id, hospital_org_id, ein, name, name_cr, street_address, city, state, zip_code, fips_state_and_county_code, hospital_bed_count, chrch_affl_f, urban_location_f, children_hospital_f, memb_counc_teach_hosps_f, medicare_provider_number, county, hospital_bed_size, updated_dt]
Index: []
No duplicates found in the DataFrame.

## Table Manipulation

In [24]:
# Hospital Information Table

# create unique ID for address
hospital_df['address_id'] = hospital_df['street_address'] + '_' + hospital_df['city'] + '_' + hospital_df['state'] + '_' + hospital_df['zip_code'] + '_' + hospital_df['fips_state_and_county_code']
hospital_df['address_id'] = hospital_df['address_id'].rank(method='dense', ascending=False).astype(int)

#create unique ID for hospital capacity
hospital_df['capacity_id'] = hospital_df['hospital_bed_count'] + '_' + hospital_df['hospital_bed_size']
hospital_df['capacity_id'] = hospital_df['capacity_id'].rank(method='dense', ascending=False).astype(int)

# create hospital information table
hospital = hospital_df[['hospital_id', 'hospital_org_id', 'name', 'ein', 'medicare_provider_number', 'address_id', 'capacity_id', 'updated_dt']]
hospital

,hospital_id,hospital_org_id,name,ein,medicare_provider_number,address_id,capacity_id,updated_dt
0,1,1,Mizell Memorial Hospital,630307951,010007,609,2,"November 20, 2023"
1,2,2,St Vincents East,630578923,010011,1075,370,"November 20, 2023"
2,3,3,Shelby Baptist Medical Center,630312913,010016,3323,490,"November 20, 2023"
3,4,4,Callahan Eye Foundation Hosp,630459034,010018,2440,680,"November 20, 2023"
4,5,5,Cherokee Medical Center,581973570,010022,1337,155,"November 20, 2023"
...,...,...,...,...,...,...,...,...
3486,3487,2647,Bsw Medical Center - Austin,813040663,670136,949,587,"November 20, 2023"
3487,3488,2304,Ascension Seton Bastrop,741109643,670143,718,63,"November 20, 2023"
3488,3489,2648,Texas Health Hospital Frisco,831954982,670260,2901,135,"November 20, 2023"
3489,3490,2302,Methodist Midlothian Medical Center,750800661,670300,2967,264,"November 20, 2023"
3490,3491,2649,Texas Health Hospital Mansfield,831869297,670309,2007,163,"November 20, 2023"

In [14]:
# Church Affiliation Table
church_affiliation = hospital_df[['hospital_id', 'chrch_affl_f', 'updated_dt']]
church_affiliation

     hospital_id chrch_affl_f         updated_dt
0              1            N  November 20, 2023
1              2            N  November 20, 2023
2              3            N  November 20, 2023
3              4            N  November 20, 2023
4              5            N  November 20, 2023
...          ...          ...                ...
3486        3487            N  November 20, 2023
3487        3488            N  November 20, 2023
3488        3489            N  November 20, 2023
3489        3490            N  November 20, 2023
3490        3491            N  November 20, 2023

[3491 rows x 3 columns]